* {
    box-sizing: border-box;
    // outline: thin solid #EDB890;
}

ul {
    padding-left: 0;    
}

li {
    list-style: none;
}

/***********************
    Colors
***********************/

$primary-bg: #ebebeb;
$white: #FFF;
$salmon: #f2a694;
$grey: grey;
$purple: #a694f2;
$dark-grey: #b9b9b9;
$light-grey: #e4e4d5;
$light-blue: #94b1f2;
/**********************************
            Buttons
**********************************/
.btn {
    background-color: $salmon;
    color: $white;
    box-shadow: 2px 2px 2px $grey;
    border-radius: 10px;
    border: none;
    padding: 8px ;
    font-size: 16px;
    font-weight: 600;
}

.btn:hover, .btn:active, .btn:focus {
    background-color: $salmon;
    color: $white;
}

/*************************************
            General
*************************************/
body {
    background-color: $primary-bg;
    font-size: 16px;
    line-height: 1.6;
}

.container-fluid {
    max-width: 1200px;
    margin: 0 auto;
    background-color: $primary-bg;
}

.container-inner {
    width: 60%;
    margin: 0 auto;
    padding: 32px;
    position: relative;
}

@media (max-width: 768px) {
    .container-inner {
        width: 95%;
        padding: 32px 0;
        max-width: 400px;
    }
}

/***************
  RecipeList
***************/

.recipeList {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 32px;
    padding: 64px;
    box-shadow: 2px 2px 2px $grey;
    background-image: url(http://www.seriouseats.com/images/2015/09/20150914-pressure-cooker-recipes-roundup-09.jpg);
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.recipeList-shelf {
    height: 100px;
    overflow: auto;
    background-color: $white;
}

.recipeList-itemList {
    text-align: center;
    margin-bottom: 0;
}

.recipeList-recipeItem {
    cursor: pointer;
}

.recipeList-createRecipeButton {
    display: block;
    width: 100%;
    border-radius: unset;
}

/***********************
    ReciperViewer
***********************/

.recipeViewer {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 32px;
    background-color: $white;
    box-shadow: 2px 2px 2px $grey;
    position: relative;
}

.recipeViewer-header:before {
    content: "";
    background-image: url(http://goodtoknow.media.ipcdigital.co.uk/111/00000723d/4199_orh412w625/tomato-pasta-bake.jpg);
    padding-top: 66.4%;
    background-repeat: no-repeat;
    display: block;
}

.recipeViewer-header:after {
    content: "";
    clear: both;
    display: block;
}

.recipeViewer-closeButton {
    background-color: transparent;
    transition: color 0.3s ease;
    position: absolute;
    top: 16px;
    right: 16px;
}

.recipeViewer-titleContainer {
    margin-bottom: 16px;
    position: relative;
    padding-right: 28px;
}

.recipeViewer-titleContainer .editableItem {
    font-weight: 900;
}

.recipeViewer-editTitleButton {
    color: $dark-grey;
    position: absolute;
    top: 0;
    right: 0;
}

.recipeViewer-ingredientItem {
    margin-bottom: 8px;
    position: relative;
    padding-right: 56px;
    opacity: 1;
    transition: opacity 1s ease-in;
}

.recipeViewer-ingredientItem-isHidden {
    opacity: 0;
}

.recipeViewer-ingredientItem[data-index]:before {
    content: attr(data-index);
    margin-right: 8px;
    padding: 8px 12px;
    border-radius: 50%;
    background-color: $purple;
    color: $white;
    vertical-align: top;
}

.recipeViewer .editableItem {
    border: none;
    background-color: inherit;
    max-width: 60%;
    resize: none;
}

@media (max-width: 448px) {
    .recipeViewer .editableItem {
        width: 130px;
    }
}

.recipeViewer-ingredientActions {
    position: absolute;
    top: 0;
    right: 0;
    color: $dark-grey;
}

.recipeViewer-editIngredientButton, .recipeViewer-deleteIngredientButton,
.recipeViewer-editTitleButton, .recipeViewer-closeButton {
    background-color: transparent;
    border: none;
}

.recipeViewer-content {
    padding: 32px 64px 0 64px;
    margin-bottom: 32px;    
}

@media (max-width: 448px) {
    .recipeViewer-content {
        padding: 32px 16px 0 16px;
    }   
}

.recipeViewer-addIngredientTextbox, .recipeViewer-addIngredientTextbox:focus,
.recipeViewer-addIngredientTextbox:active {
    border: none;
    border-bottom: thin solid $light-grey;
    outline: none;
}

.recipeViewer-deleteRecipeButton {
    width: 100%;
    border-radius: unset;
    padding: 16px 16px;
}

/***********************
    RecipeCreatorModal
***********************/

.recipeCreatorModal {
    background-color: $white;
    position: absolute;
    left: -8px;
    right: -8px;
    top: 100px;
    bottom: auto;
    box-shadow: 2px 2px 8px $grey;
    max-width: 400px;
    margin: 0 auto;
}

.recipeCreatorModal-header {
    border: none;
    padding: 66.4% 0px 0px 0px;
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/91/e2/3e/91e23e865279a0d8a6ea23a87dea640c--homemade-mozzarella-sticks-mozzarella-cheese-sticks.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    position: relative;
}

.recipeCreatorModal-closeButton, .recipeCreatorModal-closeButton:hover,
.recipeCreatorModal-closeButton:active, .recipeCreatorModal-closeButton:focus {
    position: absolute;
    top: 16px;
    right: 16px;
    float: none;
    color: $grey;
    opacity: .6;
    text-shadow: none;
}

.recipeCreatorModal-content {
    border: none;
    border-radius: 0px;
    box-shadow: none;
    padding: 32px 32px 16px 32px;
}

.recipeCreatorModal-titleContainer {
    margin-bottom: 32px;
}

.recipeCreatorModal-ingredientItem {
    margin-bottom: 8px;
    opacity: 1;
    transition: opacity 1s ease-in;
}

.recipeCreatorModal-ingredientItem-isHidden {
    opacity: 0;
}

.recipeCreatorModal-ingredientItem:before {
    content: attr(data-index);
    padding: 8px 12px;
    background-color: $light-blue;
    border-radius: 50%;
    vertical-align: top;
    margin-right: 8px;
    color: $white;
}

.recipeCreatorModal .editableItem, .recipeCreatorModal .editableItem:focus,
.recipeCreatorModal .editableItem:active {
    border: none;
    resize: none;
    outline: none;
    padding-right: 32px;
}

@media (max-width: 351px) {
    .recipeCreatorModal .editableItem, .recipeCreatorModal .editableItem:focus,
    .recipeCreatorModal .editableItem:active {
        width: 150px;
    }
}

.recipeCreatorModal-deleteIngredientButton {
     vertical-align: top;
     border: none;
     background-color: transparent;
     color: $dark-grey;
}

@media (max-width: 450px) {
    .recipeCreatorModal-deleteIngredientButton {
        margin-left: -32px;
    }
}

.recipeCreatorModal-addIngredientTextbox, .recipeCreatorModal-addIngredientTextbox:focus,
.recipeCreatorModal-addIngredientTextbox:active {
    border: none;
    border-bottom: thin solid $light-grey;
    outline: none;
}

.recipeCreatorModal-footer {
    border: none;
    padding: 0;
}

.recipeCreatorModal-saveRecipeButton, .recipeCreatorModal-saveRecipeButton:focus,
.recipeCreatorModal-saveRecipeButton:active, 
.recipeCreatorModal-saveRecipeButton:hover {
    display: block;
    width: 100%;
    border-radius: 0px;
    background-color: $purple;
    padding: 16px;
}
